.App {
  text-align: center;
  background:#FFBA5A;
 
  /*border:solid red;*/
  height:100%;
  
 

}

header{
  border:solid #FFBA5A;
  
}

.logo {
	height: 75px;
	width: 61px;
	border-radius: 16px;
  background-color: #FCF9ED;
  margin-top:10px;
  margin-left:10px;
 
}

.esse {
	height: 60px;
	width: 36px;
	color: #FFBA5A;
	font-family: Arial;
	font-size: 26px;
	font-weight: bold;
  line-height: 31px;
 padding-left:12px;
 padding-top:8px;

}

nav{
 /* border:solid blue;*/
  margin-left:10%;
  padding-top:0px;
 position: absolute;
 top:30px;
  width:800px;
  display:flex;
  justify-content: space-between;
}

.link{
  height: 28px;	width: 66px;	color: #FFFFFF;	font-family: Arial;	font-size: 25px;	line-height: 29px;
  text-decoration:none;
 /* border:solid red;*/
  width:110px;
 
}
.link:hover { 
  border-bottom:1px solid #FCF9ED;
}


.login-form{
 /* border:solid red;*/
  height:1000px;
}

.registration-page{
 /* border:solid red;*/
  padding-bottom:30px;
}

.registration {
	height: 570px;
	width: 491px;
	border-radius: 10px;
	background-color: #FCF9ED;
  box-shadow: 0 2px 50px 0 rgba(0,0,0,0.5);
  margin-left:10%;
  margin-top:100px;
  padding-bottom:20px;
 
  /*border:solid red;*/
}

.welcome {
	height: 44px;
	width: 189px;
	color: #2D283D;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
  line-height: 45px;
  padding-top:20px;
  margin-left:5%;
  /*border:solid red;*/
}

.form-control {
	height: 28px;
	width: 370px;
  opacity: 0.45;
  border-bottom:2px solid #2E2F38;
	color: #2E2F38;
	font-family: Arial;
	font-size: 25px;
  line-height: 29px;
  /*border:solid red;*/
  padding:20px 20px 20px 20px;
  background-color: transparent;
  border: 0px solid;
  /*height: 20px;*/
 /* width: 160px;*/
  color: #CCC;
 
}
/*input {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
  color: #CCC;
}*/

.form-btn{
  /*border:solid red;*/
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top:20px;
  margin-left:25px;
  margin-right:25px;
  padding-right:5px;
  padding-left:5px;
}

.signin-redirect{
  height: 22px;
    width: 310px;
    opacity: 0.75;
    color: #2D283D;
    font-family: Arial;
    font-size: 20px;
    font-style: italic;
    line-height: 23px;
    text-decoration:none;
    padding-top:25px;
    /*border:solid red;*/
}

.signin-redirect:hover{
  text-decoration: underline;
}
.regarrow{
  cursor: pointer;
}

.regarrow2{
  cursor: pointer;
  /*border:solid blue;*/
  margin-top:20px;
}


.welcome-back {
	height: 88px;
	width: 295px;
	color: #2D283D;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
  line-height: 45px;
  padding-top:20px;
  margin-left:5%;
}


.login-form {
	height: 570px;
	width: 491px;
	border-radius: 10px;
	background-color: #FCF9ED;
  box-shadow: 0 2px 50px 0 rgba(0,0,0,0.5);
 /* border:solid red;*/
  margin-left:10%;
  margin-top:100px;
  padding-bottom:20px;

}

.login-input1{
 /* border:solid pink;*/
  display:flex;
  flex-direction: column;
}

.login-input{
  height: 28px;
	width: 370px;
  opacity: 0.45;
  border-bottom:2px solid #2E2F38;
	color: #2E2F38;
	font-family: Arial;
	font-size: 25px;
  line-height: 29px;
  /*border:solid red;*/
  padding:20px 20px 20px 20px;
  background-color: transparent;
  border: 0px solid;
  /*height: 20px;*/
 /* width: 160px;*/
  color: #CCC;
  margin:auto;
}

/*.value{
 border:solid red;
}*/



.item.completed{
  text-decoration: line-through;
}

.essentialapp{
/* border:solid red;*/
  padding:10px 10px 10px 10px;
  display:flex;
  /*flex-direction: column;*/
 
 flex-flow: wrap;
  width:820px;
  margin:auto;
  height:1165px;
}

.value-btn{
  /*border:solid blue;*/
  width:400px;
  /*margin-top:15px;*/
  margin:15px 5px 5px 5px;
  border-radius: 16px;
  background-color:#FFBA5A;
  color:  #FCF9ED;
	font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  height:55px;
  cursor: pointer;
 border:2px solid #FCF9ED;

}


.current-projects{
  border-radius: 16px;
  background-color: #FCF9ED;
  margin-top:10px;
  
  color: #FFBA5A;
	font-family: Arial;
	font-size: 26px;
  font-weight: bold;
  width:300px;
  margin-left:auto;
  margin-right:auto;
}
