.App {
  text-align: center;
  background:#FFBA5A;
 
  /*border:solid red;*/
  height:100%;
  
 

}

header{
  border:solid #FFBA5A;
  
}

.logo {
	height: 75px;
	width: 61px;
	border-radius: 16px;
  background-color: #FCF9ED;
  margin-top:10px;
  margin-left:10px;
 
}

.esse {
	height: 60px;
	width: 36px;
	color: #FFBA5A;
	font-family: Arial;
	font-size: 26px;
	font-weight: bold;
  line-height: 31px;
 padding-left:12px;
 padding-top:8px;

}

nav{
 /* border:solid blue;*/
  margin-left:10%;
  padding-top:0px;
 position: absolute;
 top:30px;
  width:800px;
  display:flex;
  justify-content: space-between;
}

.link{
  height: 28px;	width: 66px;	color:  #FCF9ED;;	font-family: Arial;	font-size: 25px;	line-height: 29px;
  text-decoration:none;
 /* border:solid red;*/
  width:110px;
 
}
.link:hover { 
  border-bottom:1px solid #FCF9ED;
}


.login-form{
 /* border:solid red;*/
  height:1000px;
}

/*REGISTRATION*/

.registration-page{
 /* border:solid red;*/
  padding-bottom:30px;
}

.registration {
	height: 570px;
	width: 491px;
	border-radius: 10px;
	background-color: #FCF9ED;
  box-shadow: 0 2px 50px 0 rgba(0,0,0,0.5);
  margin-left:10%;
  margin-top:100px;
  padding-bottom:20px;
 
  /*border:solid red;*/
}

.welcome {
	height: 44px;
	width: 189px;
	color: #2D283D;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
  line-height: 45px;
  padding-top:20px;
  margin-left:5%;
  /*border:solid red;*/
}

.form-control {
	height: 28px;
	width: 370px;
  opacity: 0.45;
  border-bottom:2px solid #2E2F38;
	color: #2E2F38;
	font-family: Arial;
	font-size: 25px;
  line-height: 29px;
  /*border:solid red;*/
  padding:20px 20px 20px 20px;
  background-color: transparent;
  border: 0px solid;
  /*height: 20px;*/
 /* width: 160px;*/
  color: #CCC;
 
}
/*input {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
  color: #CCC;
}*/

.form-btn{
  /*border:solid red;*/
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top:20px;
  margin-left:25px;
  margin-right:25px;
  padding-right:5px;
  padding-left:5px;
}

.signin-redirect{
  height: 22px;
    width: 310px;
    opacity: 0.75;
    color: #2D283D;
    font-family: Arial;
    font-size: 20px;
    font-style: italic;
    line-height: 23px;
    text-decoration:none;
    padding-top:25px;
    /*border:solid red;*/
}

.signin-redirect:hover{
  text-decoration: underline;
}
.regarrow{
  cursor: pointer;
}

.regarrow2{
  cursor: pointer;
  /*border:solid blue;*/
  margin-top:20px;
  position: relative;
  left:120px;
}

/*LOGIN*/

.welcome-back {
	height: 88px;
	width: 295px;
	color: #2D283D;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
  line-height: 45px;
  padding-top:20px;
  margin-left:5%;
}


.login-form {
	height: 570px;
	width: 491px;
	border-radius: 10px;
	background-color: #FCF9ED;
  box-shadow: 0 2px 50px 0 rgba(0,0,0,0.5);
 /* border:solid red;*/
  margin-left:10%;
  margin-top:100px;
  padding-bottom:20px;

}

.login-input1{
 /* border:solid pink;*/
  display:flex;
  flex-direction: column;
}

.login-input{
  height: 28px;
	width: 370px;
  opacity: 0.45;
  border-bottom:2px solid #2E2F38;
	color: #2E2F38;
	font-family: Arial;
	font-size: 25px;
  line-height: 29px;
  /*border:solid red;*/
  padding:20px 20px 20px 20px;
  background-color: transparent;
  border: 0px solid;
  /*height: 20px;*/
 /* width: 160px;*/
  color: #CCC;
  margin:auto;
}

.value{
 /*border:solid red;*/
 font-size:12px;
 /*height: 34.2px;	
 width: 254.59px;	*/
 border-radius: 18.9px;	
 background-color: #FFBA5A;	
 /*box-shadow: 0 1px 0 0 rgba(0,0,0,0.5);*/
 margin:5px auto 5px auto;
 height:40px;
 width:300px;
 padding:3px 3px 3px 3px;
 border:0px solid #FFBA5A;
}

/* APP */


.dashboardheader{
  border-bottom: 2px solid #979797;
  width:800px;
  margin:auto;
  padding-top:10px;
  padding-bottom:10px;
  display:flex;
  justify-content: flex-start;
  height: 33px;
  color: #2D283D;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
    
  
}

.dashboard{
  /*border:solid blue;*/
  background: #FCF9ED;
  height:1200px;
  
}

.dashmenu{
 /*border:solid red;*/
  display:flex;
  flex-direction: column;
 width:160px;
 padding:20px 20px 20px 20px;

}

.topvalues{
 
  height: 350px;
  width:800px;
  margin:auto;
  border-radius: 20px;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
  position: relative;
  bottom:100px;
}

.topvaluesheader{
  height: 33px;	
  width: 360px;	
  color: #2D283D;	
  font-family: Arial;	
  font-size: 30px;	
  font-weight: bold;	
  line-height: 34px;
  border-bottom: 2px solid #979797;
  position: relative;
  left:27%;
  padding-top:10px;
  padding-bottom:10px;

}

.topvaluecontainer{
  /*border:solid black;*/
  display:flex;
  justify-content: center;
  padding-top:15px;
}

.topvalue{
  
    height: 169px;
    width: 159px;
   /* transform: rotate(180deg);*/
    border-radius: 28px;
    background-color: #FFBA5A;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    margin:10px 10px 10px 10px;
    
   
  
}

.lower-container{
 /* border:solid red;*/
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  position: relative;
  top:90px;
  margin-top:40px;
  padding-top:10px;

}

.other-values{
 /* border:solid blue;*/
  height: 629px;	
  width: 371px;
  border-radius: 10px;	
  background-color: #FCF9ED;	
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.5);
  padding-left:5px;
  padding-right:5px;
}

.dash-current-projects{
  /*border:solid black;*/
  height: 329px;	
  width: 371px;	
  border-radius: 10px;
  background-color: #FCF9ED;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.5);
}

.current-current-projects{
  height: 329px;	
  width: 771px;	
  border-radius: 10px;
  background-color: #FCF9ED;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.5);
  margin:auto;
  position: relative;
  bottom:120px;

}



/*#dashicon{
  border:solid blue;
  /*margin-right:25%;
}*/

.dash-icon{
  background:#FFBA5A;
  height:20px;
  
}

.dash-link{
  text-decoration:none;
  color: #2D283D;	font-family: Arial;	font-size: 15px;
  font-weight: bold;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom:1px solid #FFBA5A;
}

.item.completed{
  text-decoration: line-through;
  
}

.addvalue{
  /*border:solid blue;*/
}

.addvaluesbtn{
  border-radius: 16px;
  background-color:#FFBA5A;
  color:  #FCF9ED;
	font-family: Arial;
  font-weight: bold;
  cursor: pointer;
  border:2px solid #FCF9ED;

}

.addvaluesbtn:hover{
  background-color:#FCF9ED;
  color:  #FFBA5A;

}

.essentialapp{
 /*border:solid red;*/
  padding:10px 10px 10px 10px;
  display:flex;
  /*flex-direction: column;*/
 
 flex-flow: wrap;
  width:820px;
  margin:auto;
  height:1165px;
  position: relative;
  bottom:170px;
}

/*.essentialvaluesheader{
  border:solid white;
  width:800px;
  margin:auto;
}*/

.value-btn{
  /*border:solid blue;*/
  width:400px;
  /*margin-top:15px;*/
  margin:15px 5px 5px 5px;
  border-radius: 16px;
  background-color:#FFBA5A;
  color:  #FCF9ED;
	font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  height:55px;
  cursor: pointer;
 border:2px solid #FCF9ED;

}

.value-btn:hover{
  background-color:#FCF9ED;
  color:  #FFBA5A;


}


.current-projects{
  border-radius: 16px;
  background-color: #FCF9ED;
  margin-top:10px;
  
  color: #FFBA5A;
	font-family: Arial;
	font-size: 26px;
  font-weight: bold;
  width:300px;
  margin-left:auto;
  margin-right:auto;
}

.currentprojects{
  background: #FCF9ED;
}


