.App {
  text-align: center;
  background:#FFBA5A;
 
  /*border:solid red;*/
  height:1000px;
  
 

}

.registration {
	height: 570px;
	width: 491px;
	border-radius: 10px;
	background-color: #FCF9ED;
  box-shadow: 0 2px 50px 0 rgba(0,0,0,0.5);
  margin-left:10%;
  margin-top:100px;
  padding-bottom:20px;
 
  border:solid red;
}

.welcome {
	height: 44px;
	width: 189px;
	color: #2D283D;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
  line-height: 45px;
  padding-top:20px;
  margin-left:5%;
  /*border:solid red;*/
}

.inputinfo {
	height: 28px;
	width: 114px;
	opacity: 0.45;
	color: #2E2F38;
	font-family: Arial;
	font-size: 25px;
  line-height: 29px;
 
}